body{
  background-color: #0a3d62;
  margin: 0;
  padding: 0;
}
.main{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  transform: translateY(50%);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 35px;
  text-align: center;
  border: 4px solid #60a3bc;
  background-color: #0097e6;
  border-radius: 25px;
  box-shadow: 0px 7px 7px 7px ;
}
#header{
  color: #30336b;
  padding: 2px;
/*   background-color: #95afc0; */
  border-radius: 3px;
  width: 100%;
  margin-bottom: 35px;
  border-bottom: solid 5px;
}
#max{
  color: #e84118;
  margin-bottom: 15px;
}
#maxI{
  margin-bottom: 35px;
  width: 15%;
}
#volt{
  color: #e1b12c;
  margin-bottom: 15px;
}
#vRead{
  color: #192a56;
}